* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.content {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: 600;
}

.logo .astronaut img{
    width: 1.6rem;
}

header {
    margin-left: 1.09375rem;
    margin-top: 1.4375rem;
    margin-bottom: 0.96875rem;
    background: white;
    color: black;
}

#home {
    max-height: 135vw;
    background: url(./assets/backgroud01.jpg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#home .text {
    color: white;
    text-align: center;
    margin-top: 5rem;
}

#home h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

#home p {
    max-width: fit-content;
    font-weight: 400;
    font-size: 0.7rem;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 2.5rem;

}

#home .button {
    padding: 0.725rem 2rem;

    border-radius: 3.125rem;
    border: 0.1875rem solid;

    background: transparent;
    color: white;

    font-weight: 500;
    font-size: 0.725rem;
    text-decoration: none;
}

footer {
    margin-top: 2.875rem;
    margin-bottom: 1.94rem;
}

footer .logo {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

footer ul li {
    list-style: none;
}

footer p {
    margin-bottom: 0.7rem;
}

.social-links {
    display: flex;
    gap: 1.5rem;
}

.social-links li a i img {
    width: 1.6rem;
}


@media (min-width: 750px) {
    
    .logo {
        font-size: 1.8rem;
    }
    
    header .logo{
        margin-left: 6.2rem;
        margin-top: 2.9rem;
        margin-bottom: 1.9rem;
    }
    
    #home .text {
        margin-top: 10rem;
    }
    
    #home h2 {
        font-size: 3.5rem;
        margin-bottom: 1.125rem;
    }
    
    #home p {
        font-size: 1rem;
        margin-bottom: 5rem;
    }
    
    #home .button {
        padding: 1.25rem 3.9rem;
        font-size: 1.125rem;
    }
    
    footer .logo{
        font-size: 2.2rem;
        margin-left: 6.19rem;
        margin-top: 2.9rem;
        margin-bottom: 1.94rem;
    }
    
    footer p {
        margin-bottom: 1rem;
        margin-left: 6.19rem;
    }

    .social-links {
        margin-left: 6.19rem;
        gap: 2rem;
    }

    .social-links li a i img {
        width: 2rem;
    }
    
}