* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.content {
    display: flex;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
}

header {
    margin-left: 1.09375rem;
    margin-top: 1.4375rem;
    margin-bottom: 0.96875rem;
    background: white;
    color: black;
}

#home {
    background: url(./assets/backgroud01.jpg) no-repeat center/cover;
    height: 100vh;
    justify-content: center;
}

#home .text {
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-left: 20px;
    margin-right: 20px;
}

#home h2 {
    font-size: 1.71875rem;
    font-weight: 600;
    margin-bottom: 0.5625rem;
}

#home p {
    max-width: fit-content;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 2.5rem;

}

#home .button {
    padding: 0.625rem 1.9375rem;

    border-radius: 3.125rem;
    border: 0.1875rem solid white;

    background: transparent;
    color: white;

    font-weight: 500;
    font-size: 0.625rem;
    text-decoration: none;
}

footer {
    display: flex;
    margin-left: 1.1875rem;
    margin-top: 2.875rem;
    margin-bottom: 1.9375rem;
}


footer ul {
    align-content: end;
}
footer ul li {
    list-style: none;
}

.social-links {
    display: flex;
    gap: 13px;
}

.social-links li {
    justify-content: center;
}

.social-links li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}


@media (min-width: 750px) {
    .content {
        display: flex;
    }
    
    .logo {
        font-size: 1.7rem;
        font-weight: 600;
    }
    
    header {
        margin-left: 6.1875rem;
        margin-top: 2.875rem;
        margin-bottom: 1.9375rem;
        background: white;
        color: black;
    }
    
    #home {
        background: url(./assets/backgroud01.jpg) no-repeat center/cover;
        height: 100vh;
        justify-content: center;
    }
    
    #home .text {
        color: white;
        text-align: center;
        margin-top: 10rem;
    }
    
    #home h2 {
        font-size: 3.4375rem;
        font-weight: 600;
        margin-bottom: 1.125rem;
    }
    
    #home p {
        max-width: fit-content;
        font-weight: 400;
        font-size: 16px;
        opacity: 0.9;
        text-align: center;
        margin-bottom: 5rem;
    }
    
    #home .button {
        padding: 1.25rem 3.875rem;
    
        border-radius: 3.125rem;
        border: 0.1875rem solid white;
    
        background: transparent;
        color: white;
    
        font-weight: 500;
        font-size: 1.125rem;
        text-decoration: none;
    }
    
    footer {
        margin-left: 6.1875rem;
        margin-top: 2.875rem;
        margin-bottom: 1.9375rem;
    }
    
    
    footer ul {
        align-content: end;
    }
    footer ul li {
        list-style: none;
    }
}